body {
    background-color: black;
}

#box {
    padding: auto;
    position: absolute;
    border: 5px solid;
    border-color: white;
    border-radius: 25px;
    margin: auto;
    width: auto;
    height: auto;
    right: 15%;
    left: 15%;
    top: 30%;
    background-color: white;
    min-height: 10%;
    max-height: 50%;
}

#quote {
    display: inline-block;
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    color: black;
    overflow: auto;
}

#person {
    position: absolute;
    display: inline-block;
    font-size: 20px;
    right: 5%;
    bottom: 20%;
    color: black;
}

#access {
    position: absolute;
    background-color: black;
    text-align: center;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 25px;
    font-size: 16px;
    bottom: 5%;
    right: 5%;

}

#access:hover {
    opacity: 0.7;
}

#icon {
    position: absolute;
    left: 3%;
    bottom: 0%;
}

#name {
    color: black;
    text-align: center;
}

#masthead {
    position: absolute;
    padding: auto;
    margin: auto;
    width: 100%;
    left: 0%;
    bottom: 1%;
    font-style: italic;
}

span {
    font-style: italic;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    color: black;
    font-family: monospace;
    text-shadow: 2px 2px 4px black;
    font-style: italic;
}